@charset "UTF-8";
/* #############################
Principal Background
################################ */
* {
  margin: 0;
  padding: 0; }

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
	min-width: 100vh;
	margin-left: 1rem;
	margin-right: 1rem;
	background: #e0e0e0; }

#content {
	margin: .5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-column-gap: .5rem;
	grid-row-gap: 1rem;
	justify-items: stretch;
	min-width: 80%;
	margin-bottom: 2.5rem;
}

.card{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1rem;
    flex-wrap: wrap;
    background: aliceblue; }

.image .img{
	object-fit: cover;
}

@media (max-width: 800px) {
  #card {
    flex-direction: column;
  }
}

.pagination {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
	padding: 0.5rem;
}

.pagination button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 2rem;
	width: 12rem;
	background: #241744;
	color: #fff;
	border-radius: 6rem;
	font-family: sans-serif;
	font-weight: 500;
	transition: .3s ease all;
}

.pagination button:hover {
	background: #137c32;
}